site_name: cdda2img
repo_url: https://github.com/HomerSlated/cdda2img
site_url: https://HomerSlated.github.io/cdda2img
site_description: Creates archive images of Red Book standard CD-DA Audio CDs
site_author: Homer
edit_uri: edit/main/docs/
repo_name: HomerSlated/cdda2img
copyright: Maintained by <a href="https://www.hazensparkle.co.uk">Homer</a>.

nav:
  - Home: index.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/cdda2img"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/HomerSlated/cdda2img
    - icon: fontawesome/brands/python
      link: https://not-on-pypi.org/project/cdda2img

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
